
         *{
         box-sizing: border-box;
         font-family: 'Times New Roman', Times, serif;
          }
       body{
        height: 2000px;
        
         }
        .header{
            display: flex;
            height: auto;
            flex-direction: row;          
            position: sticky;
            top: -20px;
            gap: 50px;
           animation: slideDown 0.35s ease-out;                      
        }
        @keyframes slideDown {
            from {
                 transform: translateY(-100%);
                 }
            to {
                 transform: translateY(0);
                }
              }
        .logo{
            width: 20%;          
            height: auto;
           padding-left: 50px;

        }
        .nav{
            width: 80%;          
            height: auto;
            padding-left: 100px;
        }
        ul.menu{
            list-style-type: none;
            margin: 0;
            padding: 0;  
        }
        .menu > li{
            float: left;
            margin-right: 100px;
            padding-left: 0px;
            text-align: center;    
        }
        ul.menu li > a{
            display: block;  
            text-align: center;
            padding: 20px 16px;
            text-decoration: none; 
            font-size: 20px;
  
         }
        ul.menu > li > a:hover{
   /*border-bottom: 2px solid rgb(155, 155, 209);*/ 

        }
        div.icon{
            width: 50px;
            height: 50px;
        
            border: 1px solid black;
            float: left;
            border-radius: 50%;
            text-align: center;
          padding-top: 10px;
          margin-top: 20px;
          margin-left: 10px;
          border: 1px solid #6d6875;
          box-shadow:0px 6px 6px #b5838d;
          transition: 1s;
          
         }
         .content{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
          
           margin-top: 40px;
          
          margin-bottom: 30px;
           
        }
        .home-text{
           
            
             padding-left: 100px;
             padding-top: 20px;
             line-height: 15px;
             margin: 10px 30px;
           
           padding-bottom: 30px;
         
         }
         .image{
           
            margin: 30px 30px;
            transition: .6s;
            border-radius: 20px;
           
          
         }
         /*.image:hover{
            transform: scale(1.1);
          box-shadow:0px 6px 6px #b5838d;
          border-width: 2px;
          cursor: pointer;
         }*/
    
         .image>img{
            width: 70%;
            border-radius: 10px;
            
         }
         h1.content-style{
           
            width: 100%;
            display: inline;
          
    
         }
         div.home-text>p{
            padding-right: 40px;
            font-size: 13px;
            color: #6d6875;
            
         }
        
         div.home-text>button{
            padding: 10px;
            padding-left: 20px;
            background-color: #008CBA;;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            color: white;
         }
         div.home-text>button:hover{
            background-color: white;
            color: #6d6875;
            border: 1px solid #b5838d;
         }
         div.icon:hover{
            background-color: #d4a373;
            i{
                color: #6d6875;
            }
            transform: translate(0px,-18px);
            cursor: pointer;    
        }



        /*About me css*/
        div.me{
            width: 100%;          
            margin-bottom: 150px;       
           
            margin-top: 150px;           
        }
        div.card1{
            width: 95%;          
           margin: auto;
           display: flex;
           flex-direction: row;
          
        }
        div.left{
            width: 45%;
            border: 1px solid black;
            padding-left: 40px;
            height: 300px;
            line-height: 14px;
            margin:40px 20px 5px 40px;
            transition: .6s;
            border-radius: 10px;          
          
        }
        div.left:hover{
            transform: scale(1.1);
            box-shadow:0px 6px 6px #b5838d;   
                 
        } div.right{
            width: 45%;
       
       
        }
        .small-img{
             width: 100px;
            height: 100px;
            margin-top: 20px;   
       
        
    }
        .small-img img{
             width: 100%;     
            box-shadow:0px 3px 5px 3px #dad7cd;   
        }

        div.left button{
             margin-left: 190px;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            background-color: #008CBA;;
            color: white;
    }
    div.left button:hover{
        background-color: white;
        border: 1px solid#03045e;
        color: #0077b6;
        cursor: pointer;
    }
    div.right>div.container{        
            position: relative;
           width: 90%;
         /*  background-color: aqua;*/
           margin: 0px 38px;
           padding: 5px 20px;
           border-radius: 7px;         
        
    }
    .container .skill-box{
            width: 100%;
            margin: 10px 0px;
           
        }
        .skill-box .title{
            display: block;
            font-size: 17px;
            font-weight: 600;
            color: #333;
        }
        .skill-box .skill-bar{
            width: 100%;
            height: 8px;
            background-color:#edede9;
            margin-top: 6px;
            border-radius: 6px;
        }
        .skill-bar .skill-per{
                position: relative;
                display: block;
                height: 100%;
                width: 90%;
                border-radius: 6px;
                background-color: #008CBA;
                animation: progress 1s ease-in-out forwards;
                opacity: 0;
                animation-delay: 3s;

        }
        .skill-bar .Css{
            width: 80%;
        }
        .skill-bar .JavaScript{
            width: 70%;
        }
        .skill-bar .Pho{
            width: 60%;
        }
        .skill-bar .Java{
            width: 50%;
        }
        .skill-bar .python{
            width: 40%;
        }
        @keyframes progress{
            0%{
                width: 0;
                opacity: 0;
            }
            100%{
                
                opacity: 1;
            }

        }
        .skill-per .tooltip{
            position: absolute;
            right: -14px;
            background-color: #008CBA;
            top: -28px;
          padding: 2px 6px;
          border-radius: 3px;
          z-index: 1;
        }
        .tooltip::before{
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            bottom: -6px;
            left: 50%;
            background-color: #008CBA;
            transform: rotate(45deg) translateX(-50%);
            z-index: -1;
        }


        /*project css*/

        div.pj{
            width: 90%;          
          
            margin: auto;
            margin-bottom: 200px;  
        }         
        
         .pj-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
           
           
         }
         .pj-content{          
            display: flex;
            margin-left: 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            border: 1px solid black;
            transition: .6s;
            border-radius: 20px;           
             
         }
         .pj-content:hover{
            transform: scale(1.1);
          box-shadow:0px 6px 6px #dad7cd;
          border-width: 2px;
          cursor: pointer;
         }
         .pj-icon{
             width: 30%;                   
           
            
         }
         .pj-text{
            width: 70%;          
            margin-left: 10px;            
           
         }



         /*find-me*/
         .find-me{
            text-align: center;
            width: 100%;
           
            margin-top: 100px;
           
         }
         .find-me-content{
            width: 90%;
           
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 40px;
            margin-left: 50px;
            
         }
         .find-me-text{
            border: 1px solid black;
            margin-left: 60px;
          padding-top: 60px;
          border-radius: 10px;
          box-shadow:4px 5px 20px 0px #ccc5b9;
    
            
         }
         .find-me-form{
           
            margin-left: 60px;
            padding-top: 10px;
            margin-right: 49px;
         }
         .find-me-form input{
            padding: 15px 15px;
            margin-top: 20px;
            border: 1px solid #833544;
            border-radius: 16px;
         }
         .find-me-form textarea{
            padding-top: 10px;
            margin-top: 20px;
            border: 1px solid #833544;
            border-radius: 16px;
         }

         /*footer*/
         .footer{
       
            height: auto;
            
            margin-top: 90px;
           padding-top: 30px;
    
         }
         .footer-menu{
            list-style-type: none;
          
            flex-direction: row;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 70px;
         }
         .footer-menu a{
           
            padding: 10px 30px;
            display: block;
            text-decoration: none;
            font-size: 20px;
    
           
         }
         .footer-menu a:hover{
            border-bottom: 1px solid #fb6f92;
         }
         .footer-icon{
            width: 100%;
            height: 100px;
            
            text-align: center;
           
         }.footer-icon a{
            margin-left: 60px;
            font-size: 22px;
         }

    
         

  